:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  display: flex;
  justify-content: center;

}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.logo {
  width: 30%;
}