:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  display: flex;
  justify-content: center;

}

.logo-wrapper {
  display: flex;
  justify-content: center;

}
.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
}

.horizonal-line {
  background-color: #3cb2d2;
  height: 0.5rem;
  border-radius: 10px 10px 0px 0px;
}

.calculator {
  margin-left: 1.5rem;
}

/* .title-calculate {
  font-family: "Inter Var" sans-serif;
  font-weight: light;
  
} */

.heading-dose2 {
  color: #3cb2d2; 
  font-size: 1.1rem;
}

.heading-administered {
  color: #3cb2d2; 
  font-size: 1.1rem;
}


.results {
  margin-left: 1.5rem;
}